/* configurações gerais e resets */

html {
    text-size-adjust: 100%;
}

body {
	color: #fff;
	background: #080808;
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
	font-family: "MillionDreams";
}

head {
    display: none;
}

main {
	min-height: 800px;
	flex-wrap: wrap;
}

input, button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: ;
	outline: none;
}

/* Section Config */

#theSection {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
	min-height: 100%;
	overflow: hidden;
}

/* article */

#theArticle {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding-bottom: 25px;
	height: 800px;
	box-sizing: border-box;
	
}

/* div foto */

.divPhoto {
	width: 650px;
	height: 425px;
	box-sizing: border-box;
}

.imgBarber {
	position: relative;
	top: -60px;
	width: 650px;
	height: 590px;
	z-index: 0;
}

/* div formulário */

.divForm {
	position: relative;
	color: rgb(221, 155, 6);
	background-color: #040404;
	border: 2px solid rgba(134, 114, 68, 0.5);
	border-radius: 8px;
	width: 100%;
	max-width: 325px;
	flex-grow: 1;
	margin-bottom: 15px;
	align-items: center;
}

#loginForm {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	flex: 0 0 auto;
	justify-content: flex-start;
	-webkit-box-pack: start;
	align-content: stretch;
	align-items: stretch;
}

.boxForm {
	
}

/* Box de para escolher se cadastrar */

.boxRegister {
	display: flex;
	margin: 0 30px 5px 30px;
	height: 55px;
	max-height: 60px;
	flex-flow: nowrap row;
	justify-content: center;
	align-items: center;
}

.PGraphRegister {
	font-size: 18px;
	margin: 0 0;
}

.register {
	color: rgb(121, 144, 152);
	cursor: pointer;
	padding-left: 8px;
}

/* Box das Labels */

.boxLabel {

}